{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}{{ course.kurs }}{% endblock %}
{% block content %}
    <h2 class="text-center">{{ course.kurs }}</h2>
    <br>
    <div class="container-fluid d-flex justify-content-center table-responsive">
        <table class="table table-light table-striped table-hover table-bordered border-secondary">
            <tr>
                <th>Obavezan/Izborni</th>
                <th>Prva godina ER?</th>
                <th>Dostupan najranije na SI</th>
                <th>Dostupan najranije na IR</th>
                <th>Dostupan najranije na OS</th>
                <th>Dostupan najranije na OT</th>
                <th>Dostupan najranije na OG</th>
                <th>Dostupan najranije na OF</th>
                <th>Dostupan najranije na OE</th>
            </tr>
            <tr>
                <td>{% if course.o_i == 'o' %}Obavezan{% else %}Izborni{% endif %}</td>
                <td>{{ course.er }}</td>
                <td>{% if course.simingod is not None %}{{ course.simingod }}{% else %}Nije dostupan{% endif %}</td>
                <td>{% if course.irmingod is not None %}{{ course.irmingod }}{% else %}Nije dostupan{% endif %}</td>
                <td>{% if course.osmingod is not None %}{{ course.osmingod }}{% else %}Nije dostupan{% endif %}</td>
                <td>{% if course.otmingod is not None %}{{ course.otmingod }}{% else %}Nije dostupan{% endif %}</td>
                <td>{% if course.ogmingod is not None %}{{ course.ogmingod }}{% else %}Nije dostupan{% endif %}</td>
                <td>{% if course.ofmingod is not None %}{{ course.ofmingod }}{% else %}Nije dostupan{% endif %}</td>
                <td>{% if course.oemingod is not None %}{{ course.oemingod }}{% else %}Nije dostupan{% endif %}</td>
            </tr>
        </table>
    </div>
    <br>
    <hr>
    <hr>
    <br>
    <div class="d-flex justify-content-center text-center">
        <table class="table table-light table-bordered border-secondary w-25">
            <tr>
                <th>Topic and coefficient</th>
            </tr>
            {% for topic in course.topics %}
                <tr>
                    <td>{{ topic }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <br>
    <div class="d-flex justify-content-center text-center">
        <form method="get">
            {{ form|crispy }}
            {% csrf_token %}
            <input type="submit" value="Add course">
        </form>
    </div>
{% endblock %}