{% extends "base.html" %}
{% block title %}bookMentor.rs | Your Courses{% endblock %}
{% block content %}
    <h1>Your graded courses</h1>
    <br>
    {% for graded_course in graded_courses %}
        <h2>
            <a href="{{ graded_course.course.get_absolute_url }}">
                {{ graded_course.course.kurs }}
            </a>
        </h2>
        <p> Ocena: {{ graded_course.grade }}
        </p>
        <hr>
    {% empty %}
        <h3>Start grading!</h3>
    {% endfor %}
    {% include "pagination.html" with page=graded_courses %}
{% endblock %}