{% extends "base.html" %}
{% block title %}Your Graded Courses{% endblock %}
{% block content %}
    <h1 class="text-center">Your graded courses</h1>
    <br>
    <div class="container">
        <div class="row row-cols-2">
            {% for graded_course in graded_courses %}
                <div class="col mt-3 w-50">
                    <div class="card text-center">
                        <h5 class="card-header">{% if graded_course.course.o_i == 'o' %}Obavezan predmet{% else %}Izborni
                            predmet{% endif %}</h5>
                        <div class="card-body">
                            <h4 class="card-title">{{ graded_course.course.kurs }}</h4>
                            <p class="card-text">
                                Grade: {{ graded_course.grade }}
                            </p>
                            <a href="{{ graded_course.course.get_absolute_url }}" class="btn btn-secondary">Learn more!</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <h3>Start grading!</h3>
            {% endfor %}
        </div>
    </div>
    {% include "pagination.html" with page=graded_courses %}
{% endblock %}