{% extends "base.html" %}
{% block title %}bookMentor.rs | {{ book.title }}{% endblock %}
{% block content %}
    <h2 class="text-center">{{ book.title }}</h2>
    <div class="container-fluid">
        <div>
            <img src="{{ book.cover_url }}" alt="Book Cover" width="300" height="400">
        </div>
        <br>
        <div>
            <p>Written by <b>{% for author in book.authors %}
                {{ author }}{% if not forloop.last %},{% endif %}
            {% endfor %}
            </b></p>
            <p>Published by <b>{% for publisher in book.publishers %}
                {{ publisher }}{% if not forloop.last %},{% endif %}
            {% endfor %}
            </b></p>
            <p>Topic: <b>{{ book.topic }}</b></p>
            <p>Issued: <b>{{ book.issued }}</b></p>
        </div>
    </div>
    <div class="container-fluid">
        {% if request.user.is_authenticated %}
            {% if book not in request.user.profile.books.all %}
                <h4 class="text-center"><a href="{% url "books:book_added" book.isbn %}">Add book as read</a></h4>
            {% else %}
                <h4 class="text-center">You've already read this book!</h4>
            {% endif %}
        {% endif %}
    </div>
    <hr>
    <h3 class="text-center">About:</h3>
    <br>
    {{ book.description|safe }}
{% endblock %}