{% extends "base.html" %}
{% block title %}bookMentor.rs | All Books{% endblock %}
{% block content %}
    <h1>Books</h1>
    <h2>Search for specific terms <a href="{% url "books:book_search" %}">here</a></h2>
    <br>
    {% for book in books %}
        <h2>
            <a href="{{ book.get_absolute_url }}">
                {{ book.isbn }} | {{ book.title }}
            </a>
        </h2>
        <p>Written by {% for author in book.authors %}
            {{ author }}{% if not forloop.last %},{% endif %}
        {% endfor %}
        </p>
        <hr>
    {% endfor %}
    {% include "pagination.html" with page=books %}
{% endblock %}