{% extends "base.html" %}
{% block title %}bookMentor.rs | All Books{% endblock %}
{% block content %}
    <h1 class="text-center">Books</h1>
    <h2 class="text-center">Search for given terms <a href="{% url "books:book_search" %}">here</a></h2>
    <br>
    <br>
    <ul>
    {% for book in books %}
        <li>
            <h2>
            <a href="{{ book.get_absolute_url }}">
                {{ book.isbn }} | {{ book.title }}
            </a>
        </h2>
        <p>Written by {% for author in book.authors %}
            <b>{{ author }}{% if not forloop.last %},{% endif %}</b>
        {% endfor %}
        </p>
        </li>
    {% endfor %}
    </ul>
    {% include "pagination.html" with page=books %}
{% endblock %}