{% extends "base.html" %}
{% block title %}bookMentor.rs | Search books{% endblock %}
{% block content %}
    {% if query %}
        <h1 class="text-center">Books containing "{{ query }}"</h1>
        <br>
        <h3 class="text-center">
            {% with results.count as total_results %}
                Found {{ total_results }} result{{ total_results|pluralize }}.
                <a href="{% url "books:book_search" %}">Search again?</a>
            {% endwith %}
        </h3>
        <div class="container">
            <div class="row row-cols-2">
                {% for book in results %}
                <div class="col mt-3 w-50">
                    <div class="card text-center">
                        <h5 class="card-header">ISBN: {{ book.isbn }}</h5>
                        <div class="card-body">
                            <h4 class="card-title">{{ book.title }}</h4>
                            <p class="card-text">
                                Written by {% for author in book.authors %}
                                <b>{{ author }}{% if not forloop.last %},{% endif %}</b>
                            {% endfor %}
                            </p>
                            <a href="{{ book.get_absolute_url }}" class="btn btn-primary">See more!</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    {% else %}
        <h1 class="text-center">Search for Books</h1>
        <br>
        <div class="d-flex justify-content-center">
            <form method="get">
                {{ form }}
                <input type="submit" value="Search">
            </form>
        </div>
    {% endif %}
{% endblock %}
