{% extends "base.html" %}
{% block title %}bookMentor.rs | Search books{% endblock %}
{% block content %}
    {% if query %}
        <h1 class="text-center">Books containing "{{ query }}"</h1>
        <br>
        <h3 class="text-center">
            {% with results.count as total_results %}
                Found {{ total_results }} result{{ total_results|pluralize }}.
                <a href="{% url "books:book_search" %}">Search again?</a>
            {% endwith %}
        </h3>
        <ul>
            {% for book in results %}
                <li>
                    <h2>
                        <a href="{{ book.get_absolute_url }}">
                            {{ book.isbn }} | {{ book.title }}
                        </a>
                    </h2>
                    <p>Written by {% for author in book.authors %}
                        <b>{{ author }}{% if not forloop.last %},{% endif %}</b>
                    {% endfor %}
                    </p>
                </li>
            {% empty %}
                <h4 class="text-center">There's no match for the given query.</h4>
            {% endfor %}
        </ul>
    {% else %}
        <h1 class="text-center">Search for Books</h1>
        <br>
        <div class="d-flex justify-content-center">
            <form method="get">
                {{ form }}
                <input type="submit" value="Search">
            </form>
        </div>
    {% endif %}
{% endblock %}
