{% extends "base.html" %}
{% block title %}bookMentor.rs | Dashboard{% endblock %}
{% block content %}
    <h1>Dashboard</h1>
    <br>
    <h2>Welcome to your dashboard.</h2>
    <br>
    <ul>
        <li>Edit your personal informations <a href="{% url "account:edit" %}">here</a>.</li>
        <li>View your books <a href="{% url "account:book_list" %}">here</a>.</li>
        <li>View available courses for assessment <a href="{% url "account:course_list" %}">here</a>.</li>
        <li>View your graded courses <a href="{% url "account:course_mine" %}">here</a>.</li>
    </ul>
{% endblock %}