{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<div>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>
                    {{ message|safe }}
                    <a href="#">x</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
<div class="header">
    {% if request.user.is_authenticated %}
        <h2>Good day <a href="{% url "account:dashboard" %}">{{ request.user.first_name }}</a>!</h2>
        <p><a href="{% url "account:logout" %}">Logout</a></p>
    {% else %}
        <p><a href="{% url "account:login" %}">Login</a></p>
    {% endif %}
</div>
<h3>Check all available books <a href="{% url "books:book_list" %}">here</a>.</h3>
<h3>Check all available courses <a href="{% url "books:course_list" %}">here</a>.</h3>
<hr>
<br>
{% block content %}{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
</html>