{% extends "base.html" %}
{% block title %}Your Books{% endblock %}
{% block content %}
    <h1 class="text-center">Your books</h1>
    <br>
    <div class="container">
        <div class="row row-cols-2">
            {% for book in books %}
                <div class="col mt-3 w-50">
                    <div class="card text-center">
                        <h5 class="card-header">ISBN: {{ book.isbn }}</h5>
                        <div class="card-body">
                            <h4 class="card-title">{{ book.title }}</h4>
                            <p class="card-text">
                                Written by {% for author in book.authors %}
                                <b>{{ author }}{% if not forloop.last %},{% endif %}</b>
                            {% endfor %}
                            </p>
                            <a href="{{ book.get_absolute_url }}" class="btn btn-primary">See more!</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <h3>Start reading!</h3>
            {% endfor %}
        </div>
    </div>
    {% include "pagination.html" with page=books %}
{% endblock %}

{#{% for book in books %}#}
{#        <h2>#}
{#            <a href="{{ book.get_absolute_url }}">#}
{#                {{ book.isbn }} | {{ book.title }}#}
{#            </a>#}
{#        </h2>#}
{#        <p>Written by {% for author in book.authors %}#}
{#            {{ author }}{% if not forloop.last %},{% endif %}#}
{#        {% endfor %}#}
{#        </p>#}
{#        <hr>#}
{#        {% empty %}#}
{#        <h3>Start reading!</h3>#}
{#    {% endfor %}#}